* {
  box-sizing: border-box; }

body {
  background: #FAFAFA; }

h1 {
  text-align: center;
  font-family: courier; }

.btn-list {
  margin-left: auto;
  margin-right: auto; }

.recording {
  background-color: red; }

.playing {
  background-color: green; }
